name: "Test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: meenzen
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: devenv

      - name: Install tools
        run: nix profile install nixpkgs#direnv nixpkgs#nix-direnv nixpkgs#devenv

      - name: Set up direnv
        run: direnv allow

      - name: Install dependencies
        run: direnv exec . npm install

      - name: Run devenv tests
        run: direnv exec . devenv test

      - name: Build project
        run: direnv exec . npm run build
